@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --main-font: 'Montserrat';
    --bg-color: #1a1a1a;
    --accent-color: #008170;
    --tertiary-color: #005B41;
    --font-color: whitesmoke;
}

* {
    font-family: var(--main-font);
    font-size: 18px;
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    background: var(--bg-color);
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.header {
    display: flex;
    padding: 0.8rem 0.5rem;
    background: var(--accent-color);
    justify-content: space-between;
    align-items: center;
}

.main {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
}

#add-button {
    background: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    padding: 0.8rem;
    height: 3rem;
    width: 3rem;
    margin: 3rem;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

.footer {
    display: flex;
    background: var(--accent-color);
    justify-content: center;
}